.form-control {
    /* background-color: azure; */
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 5px;
}

.form-control > input,textarea {
    color: var(--primary-color);
    outline: none;
    width: 100%;
    background: transparent;
    background-color: transparent;
    padding: 0.5rem 0;
    border: none;
}

textarea {
    resize: none;
}