.right__section {
    flex: 0.2;
    position: sticky;
    top: 60px;
    background-color: var(--secondary-bg-color);
    padding: 0.8rem;
    border-radius: 10px;
}

.right__sec__head {
    padding-bottom: 0.5rem;
    align-self: flex-start;
    width: 100%;
}

.right__sec__feed__container {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.right__sec__feed {
    padding: 0.5em 0;
    border-top: var(--border);
}

.right__sec__feed .faded {
    margin-left: 0;
    padding-bottom: 2px;
}

