.main__section {
    /* background-color: antiquewhite; */
    margin-top: 1rem;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1000px){
    .right__section {
        display: none;
    }
}

@media screen and (max-width: 750px){
    .left__section {
        display: none;
    }
}